<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span class="title">App Title</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul id="nav-links" class="nav navbar-nav" data-bind="source: links" data-template="nav-template"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://www.telerik.com/kendo-ui" target="_blank">Kendo UI By Telerik</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="content" class="container"></div>

<script type="text/x-kendo-template" id="nav-template">
    <li><a href="#: href #"><span class="#: icon #"></span> #: title #</a></li>
</script>